#programmer-pronunciation {
  display:none;
}

body {
  background-color: #e0e0ec;
  color: #537d91;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted #5C848E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #5C848E;
  /* line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #092a35;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #092a35;
  font-weight: normal;
}


p {
  line-height: 2;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.intro {
  width: 60%;
  margin: auto;
}

.programmer-splash {
  color: #5C848E;
}

.profile-row {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.skill-row {
  width: 30%;
  margin: 100px auto;
  text-align: left;
}

.mountain {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.profile-img {
  float: left;
  position: relative;
  top: 8px;
  margin:0 30px;
}

.design-img {
  float: left;
  margin-right: 30px;
  height: 9.5rem;
  width: 9.5rem;
}

.develop-img {
  float: right;
  margin-left: 30px;
  height: 10rem;
  width: 10rem;
}

.pro {
  /*text-decoration: underline;*/
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.butn {
  background: #293462;
  background-image: -webkit-linear-gradient(top, #293462, #41508a);
  background-image: -moz-linear-gradient(top, #293462, #41508a);
  background-image: -ms-linear-gradient(top, #293462, #41508a);
  background-image: -o-linear-gradient(top, #293462, #41508a);
  background-image: linear-gradient(to bottom, #293462, #41508a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #315e7a;
  background-image: -webkit-linear-gradient(top, #315e7a, #3081b8);
  background-image: -moz-linear-gradient(top, #315e7a, #3081b8);
  background-image: -ms-linear-gradient(top, #315e7a, #3081b8);
  background-image: -o-linear-gradient(top, #315e7a, #3081b8);
  background-image: linear-gradient(to bottom, #315e7a, #3081b8);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.programmer-pronunciation {
  margin: 0;
  color: #5C848E;
}

.programmer-pronunciation:hover {
  color: #EAF6F6;
}

audio.programmer-audio {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 2;
  opacity: 0.01;
}

.top-container {
  background-color: #212125;
  position: relative;
  padding: 100px 220px 0 220px;
}

.middle-container {
  margin: 80px 0;
}

.bottom-container {
  background-color: #212125;
  padding: 50px 0 20px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  h1 {
    font-size: 3.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #5C848E;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #092a35;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .top-container {
    background-color: #212125;
    position: relative;
    padding: 100px 20px 0 20px;
  }

  .programmer-splash {
    color: #5C848E;
    font-size: 1rem;
  }

  .contact-message {
    width: 80%;
    margin: 0 auto 60px;
  }

  .profile-row {
    width: 80%;
    margin: 0 20px;
    text-align: center;
  }

  .skill-row {
    width: 80%;
    margin: 100px auto;
    text-align: left;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
